@import "tailwindcss";
body {
  background-image: url('contacto-fullstack-lunes\frontend\src\assets\bg.jpg');
  background-size: cover; /* para que la imagen cubra todo el fondo */
  background-position: center center; /* para centrar la imagen */
  background-repeat: no-repeat; /* evitar que se repita */
  height: 100vh; /* altura completa de la ventana */
  margin: 0;
}